.Tilt {
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
  margin-left: 10px;
}

.resize {
  height: 150px;
  width: 150px;
}

@media (max-width: 600px) {
  .resize {
    height: 100px;
    width: 100px;
  }
}
