.App {
  text-align: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.navGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.flex {
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .navGrid {
      grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .flex {
      display: flex;
      flex-direction: column;
  }
}
